html,
body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
  font-size: 14px;
  line-height: 1.5;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.columns {
  margin:0;
}
.column {
  padding: 0;
}
.aside {
  position: relative;
  display: block;
  background-color: #f9f9f9;
  border-right: 1px solid #dedede;
  min-width: 290px;
  max-width: 300px;
}
.aside-content {
}
.pane-parent-child {
  padding: .75rem;
}
.aside-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.aside-footer-right {
  position: absolute;
  right: 0;
}
.collapse-aside {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 9px 0 9px 10px;
  height: 45px;
}
.messages {
  display: block;
  background-color: #fff;
  border-right: 1px solid #dedede;
  padding: 40px 20px;
}
.message {
  display: block;
  background-color: #fff;
  padding: 0;
}
.aside .compose {
  height: 95px;
  margin: 0 -10px;
  padding: 25px 30px;
}
.aside .compose .button {
  color: #f6f7f7;
}
.aside .compose .button .compose {
  font-size: 14px;
  font-weight: 700;
}
.aside .main {
  /* padding: 40px; */
  color: #6f7b7e;
}
.aside .title {
  color: #6f7b7e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.aside .main .item {
  display: block;
  padding: 10px 0;
  color: #6f7b7e;
  /* padding-left: 20px; */
}
.aside .main .item.active {
  background-color: #f1f1f1;
  border-left: 4px solid #5b9dd9
  /* margin: 0 -50px; */
  /* padding-left: 50px; */
}
.aside .main .item:active,
.aside .main .item:hover {
  background-color: #f2f2f2;
  border-left: 4px solid #5b9dd9
  /* margin: 0 -50px; */
  /* padding-left: 50px; */
}
/* .aside .main .icon {
  font-size: 19px;
  padding-right: 30px;
  color: #a0a0a0;
} */
.aside .main .name {
  font-size: 15px;
  color: #5d5d5d;
  font-weight: 500;
  padding-left: 20px;
}
